
#Ignores databases when merging due to potential conflicts of entries.
*.db
*.db-journal

#Ignores virtual environment data on personal folder.
Pipfile
Pipfile.lock
survey_project.db
.vscode/settings.json
survey_project.db
