<!DOCTYPE html>


<head>

  <meta charset="utf-8">
  {% block title %}<title>Cancer Patient Pathways - Home</title> {% endblock %}
  <link rel = "stylesheet" type = "text/css"href = 'style-main.css' />
</head>


<body>


  <div class = "body_container">
    <header>
      <div class = "title_head_container">
        <div class = "title_head">
          <h1 id = "project_title">The Cancer Pathway Project</h1>
        </div>

        <figure id = chc_logo>
          <img src = "health_counc_img2-removebg-preview2.png"
          alt = "Community Health council img">
        </figure>
        
        <form id='login_form' onsubmit="">
          <label for = "username">Username: </label>
          <input type = "text" id = "username" name = "firstName"><br>

          <label for = "pword">Password: &nbsp  </label>
          <input type = "password" id = "pword" name = "password"><br>

          <button type = "submit" id = "button_l"> Submit </button>
          <button type = "button" id = "button_r"> New Account </button>
        </form>

      </div>


      <div class = "jumbotron">

      </div>

      <div class = "title_navigation_container">
        <nav class = "main_nav">

          <span><a href = "">About Us</a></span>
          <span><a href = "">Survey</a></span>
          <span><a href = "">Contact</a></span>

        </nav>


      </div>
      </header>


      </button>

    </div>
    {% block content  %}

    {% endblock %}
    <main>
    </main>


  </div>
  <footer>
    <hr>
    <address>
      <u>©2019: 	Cancer Pathway Project </u>| Contact: <a href="mailto:cancer-pathway@outlook.com"> cancer-pathway@outlook.com</a>
      <u>Address</u></span>
    </address>
  </footer>

    <script src = "{{ url_for('static', filename='js.main.css') }}"></script>
</body>
