* {
  padding: 0;
  margin: 0;
  font-family: calibri;
  box-sizing: border-box;
}

.body_container {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  height: 100%;
}

.jumbotron_bckground {
  white-space: nowrap;
  position: relative;
  min-height: 200px;
  background-image: url('assets/hand_shake.png');

  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 100%;
  width: 100%;
  background-color: #7B64AB;
}

.title_head_container {
  display: block;
  min-height: 150px;
  background-color: #7B64AB;
}

.title_head {
  text-align: center;
}

input{
  display: inline;
}

.navbar-inverse{
  background-color: #7B64AB;
  border: none;
}


#project_title {
  display: inline-block;

  bottom: 50%;
  left: 50%;

}
#project_title a {
  color: #fff;
  text-decoration: none;
}

#project_title a:hover {
  opacity: 0.5;
}

#chc_logo img{
    float: left;
    margin-right: 25px;
    margin-top: -15px;
}

.title_navigation_container {
  background-color: #614B8B;

}

.main_nav {

  text-align: center;
  bottom: 10%;

}

.main_nav  a{
  display: inline-block;
  margin-top: 20px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 5px;
  font-weight: 900;
  font-size: 25px;
  color: #fff;
  text-decoration: none;
}

/* Adapted from Martin Wolf code snippet, available at:
https://codepen.io/martinwolf/pen/eNNdme */
.main_nav  a::after {
  content: '';
  display: block;
  width: 0;
  height: 3px;
  background: #fff;
  transition: width 0.25s ;
  transition-timing-function: ease-in-out;
}

.main_nav a:hover::after {
    width: 100%;

}

footer {
  padding: 10px;
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

#burgerD {
  visibility: hidden;
}

@media only screen and (max-width: 776px) {

  #exampleInputEmail3, #exampleInputPassword3 {
    width: 100px;
    display: inline;
  }
}


.homepage_body {
  text-align: center;
  display: inline-block;
  font: 20px arial, bold;
}

/* .container {
  padding: 16px;
  background-color: white;
  y: inline-block;
  box-sizing: border-box;
} */

.container{
  width: 360px;
  padding: 5% 0 0;
  margin: auto;
  text-align: center;
}

.vertical-form{
  position: relative;
  z-index: 1;
  background: #ffffff;
  max-width: 50%;
  margin: 0 auto 25px;
  text-align: center;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  width: 90%;
}

th {
  background-color: #000000;
  color: #ffffff;
  font-weight: bolder;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  font-size: 18px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.column {
  float: left;
  padding: 10px;
  height: 300px;
}

.left, .right {
  width: 5%;
}

.row {
  display: flex;
}


.column {
  flex: 33.33%;
  padding: 5px;
}

/* FAQ STYLING BEGIN */
/* https://www.w3schools.com/howto/howto_js_collapsible.asp CODE FROM HERE - MODIFIED TO MATCH WEBSITE */

/* Button styling - Opening and closing FAQ*/
.collapsible-faq {
  background-color: #eee;
  color: #333;
  /* ENQIURE ABOUT CORRECT COLOUR */
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: 1px;
  text-align: left;
  outline: none;
  font-size: 15px;
}

/* Add a background color to the button if it is clicked on and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #ccc;
}

/* Style the collapsible content.*/
.content-faq {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
  /* PERFORM ANIMATIONS */
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}




/* ADMIN ACCOUNT SEARCH STYLING SECTION */

.search_box_wrapper {
  margin-left: 50px;
  margin-right: 50px;
  padding-bottom: 20px;
  text-align: center;
}

.form-control {
  width: 100px;
  display: inline;

}

.admin_form {
  text-align: center;
  align-items: center;
  justify-content: center;
}

#search_header {text-align: center;}

#result_header {text-align: center;}

#user_messages {text-align: center;}

.flex_container {
  display: inline-flex;
  max-width: 90%%;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.flex_container > .data_1 {
  border: 2px solid #000;
  flex-basis: auto;
  margin: 7px;
  padding: 2px;
}

.flex_container > .data_2 {
  border: 2px solid #000;
  flex-basis: auto;
  margin: 7px;
  padding: 2px;
}

.pdf_download_descriptor {
  text-align: center;
}

.pdf_button_wrapper {
  margin-left: 50px;
  margin-right: 50px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  text-align: center;
  border: 2px solid #000;
}

.admin_button, .pdf_button {
  letter-spacing: .1em;
  color: #fff;
  font-size: 120%;
  text-align: center;
  padding: 5px 100px;
  background: #7B64AB;
  border-bottom: 1px solid #000000;
  text-decoration: none;
  border-radius: 5px;
  transition-property: background, border-radius, transform;
  transition-duration: 0.5s;
}

/* Dicates how the nested link anchors react on mouse hover */
.pdf_button:hover {
  background: #f58282;
  border-radius: 25px;
  color: #000000;
  transform: rotate(0deg);
}

.admin_button:hover {
  background: #5cb85c;
  border-radius: 25px;
}

.data_header {
  text-align: center;
}

@media screen and  (max-width: 850px)
{
  .fullsize_box {
    width: 100vw!important;
    height: 100vh!important;
  }
}

[type=radio] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}


[type=radio] + img {

  cursor: pointer;

}



[type=radio]:checked + img {

  outline: 2px solid #f00;

}
