* {
  padding: 0;
  margin: 0;
  font-family: calibri;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.body_container {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  height: 100%;
}

.jumbotron_bckground {
  white-space: nowrap;
  position: relative;
  min-height: 200px;
  background-image: url('assets/hand_shake.png');

  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 100%;
  width: 100%;
  background-color: #7B64AB;
}


.title_head_container {

  min-height: 150px;
  background-color: #7B64AB;
}

.title_head {
  text-align: center;
}

#login_form {
  height: inherit ;
  width: 15%;
  float: right;
  margin-top: -35px;

  color: #fff;
}

input{
  display: inline;
}
#username {
  width: 51%;
  margin: 5px 0;
}
#pword {
  width: 50%;
  margin: 5px 0;
}

#button_l {
  float: left:
}
#button_r {
  margin-left: 15%;
  width: 50%
}

#project_title {
  display: inline-block;

  bottom: 50%;
  left: 50%;

}
#project_title a {
  color: #fff;
}

#project_title a:hover {
  opacity: 0.5;
}

#chc_logo img{
    float: left;
    margin-right: 25px;
    margin-top: -15px;
}

.title_navigation_container {
  background-color: #614B8B;
  min-height: 100px;
  margin: 5px;
  border-radius: 1em;
}

.main_nav {
  overflow: hidden;
  text-align: center;
  bottom: 10%;
  left: 40%;
  min-height: 75px;
}



.main_nav  a{
  display: inline-block;
  margin-top: 20px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 5px;
  font-weight: 900;
  font-size: 25px;
  color: #fff;
}

/* Adapted from Martin Wolf code snippet, available at:
https://codepen.io/martinwolf/pen/eNNdme */
.main_nav  a::after {
  content: '';
  display: block;
  width: 0;
  height: 3px;
  background: #fff;
  transition: width 0.25s ;
  transition-timing-function: ease-in-out;
}


.main_nav a:hover::after {
    width: 100%;

}


footer {
  padding: 10px;
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}
