{% extends "chc_template.html" %}

{% block title %}<title>Cancer Patient Pathways - Home</title> {% endblock %}

{% block content  %}

<main> <center>
  <div class="homepage_body"> The Cancer Patient Survey <br>
    <br>
    If you've experienced the NHS Cancer service we'd like your feedback to improve the quality of the service that we
    provide to patients <br>
    <br>
    You'll be provided with unique login details to allow you to provide feedback on the service <br>
    <br>
    Each response is taken into consideration, you may be contacted individually to allow us to follow up on the matter at
    hand.<br>
    <br>
    For any questions please use the contact form, response will depend on the query <br>
    <br>
    Thank you.
</center> </main>

{% endblock %}
