{% extends "chc_template.html" %}

{% block title %}<title>Cancer Patient Pathways - Home</title> {% endblock %}

{% block content  %}

<main>
  <center>
    <h1>The Cancer Patient Survey</h1>
      <h2>About us</h2>
      <div class="homepage_text"> <p> The South Glamorgan CHC was established in April 2010 following the reorganisation of Community Health Councils in
      Wales. <br> We represent the interests of the patients and public of Cardiff and the Vale of Glamorgan in relation to local
      health services. </p> <p> Health Councils (CHC) are the independent voice of people in Wales who use NHS services. <br>
      We are made up of local volunteers who act as the eyes and ears of patients and the public. </p> </div>

      <h3>In partnership</h3>
      <a href="https://www.cardiff.ac.uk/software-academy">
        <img src="../static/assets/cardiff_logo.png" alt="Cardiff School of Computer Science" style="border:0;">
      <a href="http://www.wales.nhs.uk/sitesplus/897/home">
        <img src="../static/assets/cancer_logo.png" alt="South Glamorgan CHC" height="100px" style="border:0;">
      </a>
  </center>
</main>

{% endblock %}
