{% extends "chc_admin_template.html" %}

{% block title %}<title>Cancer Patient Pathways - Home</title> {% endblock %}

{% block content  %}

<main>
  <h1 class = "admin_head">Administration homepage</h1>
  <h3 class = "admin_head">From this space you can do the following using the tabs above:</h3>
    <section class = "admin_flex_container">
      <article class = "element_1"><a href = "/section" class = "admin_link">
        <h2 class = "admin_head">Find Account</h2>
        <p>Our designers spend their whole lives studying the use of furniture and have brought to you a chair with 4 legs, a flat table, and a bed you can lie on</p>
      </a>
    </article>

      <article class = "element_2"><a href = "/section" class = "admin_link">
        <h2 class = "admin_head">List All Accounts</h2>
        <p>Our novel construction approach, attaches the legs on to the underside of the table top one at a time.</p>
        </a>
      </article>

      <article class = "element_3"><a href = "/section" class = "admin_link">
        <h2 class = "admin_head">Decoration</h2>
        <p>Our Artists have discovered an incredible coating material for our furniture. It is called paint, and it comes in all manner of colours</p>
        </a>
      </article>

      <article class = "element_4"><a href = "/section" class = "admin_link">
        <h2 class = "admin_head">Decoration</h2>
        <p>Our Artists have discovered an incredible coating material for our furniture. It is called paint, and it comes in all manner of colours</p>
        </a>
      </article>
    </section>

    <section class = 'admin_logout'>
      <a href = '/logout' class = logout_link><p>Click Here to logout</p></a>
    </section>

{% endblock %}
