{% extends "00_homepage.html" %}


{%block title %}
<title> {{username}}'s section </title>
{%endblock %}

{% block link %}
    <link rel = "stylesheet" type = "text/css"href = "{{ url_for('static', filename='style-graph.css') }}" />
{% endblock %}


{%block content%}
    <link rel = "stylesheet" type = "text/css"href = "{{ url_for('static', filename='style-main.css') }}" />

<div class="wrapper">
  <h1>Your Experience</h1>
  <h2>The data you have provided from prior entries is added into the graph below, so you can see how your mood has changed from the beginning of your experience.</h2>

  <canvas id="myChart" width="1600" height="900"></canvas>
</div>

<script src = "../static/js-main0.js"></script>

<p>Hello Mr User Sir!</p>

{% endblock %}
