{% extends "chc_template.html" %}


{%block title %}
<title> {{username}}'s section </title>
{%endblock %}

{% block link %}
    <link rel = "stylesheet" type = "text/css"href = "{{ url_for('static', filename='style-graph.css') }}" />

    <script src = "../static/js-main0.js"></script>
{% endblock %}

{%block content%}
    <link rel = "stylesheet" type = "text/css"href = "{{ url_for('static', filename='style-main.css') }}" />

<div class="wrapper">
  <h1>Your Experience</h1>
  <h2>The data you have provided from your daily entries is collated into the graph below.  You can see how your mood has changed from the beginning of your experience!</h2>

  <canvas id="userChart" width="1600" height="900"></canvas>


</div>

<p id = "test"></p>

<script src = "../static/js-main0.js"></script>


{% endblock %}
