{% extends "chc_admin_template.html" %}

<link rel = "stylesheet" type = "text/css"href = "{{ url_for('static', filename='style-main.css') }}" />

{%block title %}<title> {{username}}'s section </title>{%endblock %}

{% block anchor %} {{welcome}} {% endblock %}

{%block content%}

{% for row in data %}

<h1>Data for volunteer {{row[5]}}</h1>

<table class = 'table'>
   <thead>
      <th>AccountID</th>
      <th>email_addr</th>
      <th>Name</th>
      <th>Password</th>
      <th>Access</th>
   </thead>



      <tr>
        <td>{{row[0]}}</td>
        <td>{{row[1]}}</td>
        <td>{{row[2]}}</td>
        <td>********</td>
        <td>{{row[4]}}</td>
      </tr>

</table>

{% endfor %}

{% endblock %}
