{% extends "00_homepage.html" %}

<link rel = "stylesheet" type = "text/css"href = "{{ url_for('static', filename='style-main.css') }}" />

{%block title %}

<title> {{username}}'s section </title>

{%endblock %}

{%block content%}

<h2>Search for Patients!</h2>
<form method = 'post'>
<!-- <form id='myForm' action='/Student/Search' method = 'post'> -->
  <label for = "email_search"></label>
  Email Username:<input type = "text" name = "email_search"><br>
  <button name = 'patient_search' type = "submit"> search </button>
</form>

{% endblock %}
