{% extends "chc_admin_template.html" %}

{%block title %}<title> {{username}}'s section </title>{%endblock %}

{% block link %}
    <link rel = "stylesheet" type = "text/css"href = "{{ url_for('static', filename='style-graph.css') }}" />

{% endblock %}

{%block content%}
  <link rel = "stylesheet" type = "text/css"href = "{{ url_for('static', filename='style-main.css') }}" />

<table>
   <thead>
      <th>User ID</th>
      <th>Email Address</th>
      <th>Name</th>
      <th>Access</th>
   </thead>

   {% for row in data %}

      <tr>
        <td>{{row[0]}}</td>
        <td>{{row[1]}}</td>
        <td>{{row[2]}}</td>
        <td>{{row[3]}}</td>
      </tr>
   {% endfor %}
</table>
<section class="flex_container">
  <h1>All users' project experience</h1>

  <canvas id="line_graph" width="800" height="450"></canvas>

</section>

<!-- <canvas id="line_graph" width="1600" height="900"></canvas> -->

<script src = "../static/js-admin-graphs.js"></script>

<script>
  var linegraph_data = {{ graph_data|safe }}
</script>

{% endblock %}
