{% extends "chc_admin_template.html" %}

<link rel = "stylesheet" type = "text/css"href = "{{ url_for('static', filename='style-main.css') }}" />

{%block title %}<title> {{username}}'s section </title>{%endblock %}

{%block content%}


<h2>Patient Search</h2>
<!-- <form method = 'post'> -->
<!-- <form id='myForm' action='/Student/Search' method = 'post'> -->
  <!-- <label for = "email_search"></label>
  Volunteer ID number:<input type = "text" name = "email_search"><br>
  <button name = 'patient_search' type = "submit"> search </button>
</form> -->

<form method = 'post'>
  <label for = "email_search"></label>
  Volunteer ID number: <input type = "text" name = "id_search"><br>
  <button name = 'patient_search' type = "submit"> search </button>
</form>


<script>

</script>
<script src = "../static/js-main0.js"></script>
{% endblock %}

{% block script %}
{{ super() }}



{% endblock %}
