{% extends "01_homepage.html" %}
<!-- Style sheet reference -->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style-main.css') }}" />

{%block title %}

<title> Cancer Patient Pathways - Contact </title>
<div class="sub_text"> <h2>Generic Questions Only</h2> </div>
{%endblock %}


{%block content%}

<!-- Form code, need to figure out how to submit it  -->
<form onsubmit=action="mailto:"you@yourwebsite.com" name="myForm">
    <label for="name">First name:</label><br>
    <input id="name" type="text" name="firstname">
    </br>
    <label>Last name:</label><br>
    <input id="lname" type="text" name="lastname">
    </br>
    <label for="Query">Query:</label><br>
    <textarea id="query" rows="5" cols="50" name="text"> Type your query here </textarea>
    </br>
    <br>
    <button id="sub_but" type="submit"">Submit</button>
    </br>
</form>

<p> Test Paragraph </p>


{% endblock %}
