<!-- These references extend the skeleton of the homepage-->
{% extends "00_homepage.html" %}
<!-- Style sheet reference -->
<link rel="stylesheet" type="text/css" href="../static/style-main.css" />
<!--Script Reference-->
<script type="text/javascript" src="../script/myscript.js"></script>

{%block title %}

<title> Cancer Patient Pathways - Contact </title>
<!-- <div class="sub_text"> <h2>Generic Questions Only</h2> </div> -->
{%endblock %}


{%block content%}

<!-- Form code, need to figure out how to submit it, contains validation file  -->
<!-- <form onsubmit="return validate()" name="myForm">
<label for="name">First name:</label><br>
<input id="name" type="text" name="firstname">
</br>

<label>Last name:</label><br>
<input id="lname" type="text" name="lastname">
</br>

<label>Telephone number:</label><br>
<input id="number" type="text" name="telephonenumber">
</br>

<label for="comments">Comments:</label><br>
<textarea id="comments" rows="5" cols="50" name="text"> Type your query here</textarea>
</br>

<br>
<button id="sub_but" type="submit">Submit</button>
</br> -->

<!-- Uneeded code -->
<!--
<form action="/action_page.php" onsubmit="test()"name="myForm"></form>
    <label for="name">First name:</label><br>
    <input id="name" type="text" name="firstname">
    </br>
    <label>Last name:</label><br>
    <input id="lname" type="text" name="lastname">
    </br>
    <label for="Query" onclick="test()">Query:</label><br>
    <textarea id="query" rows="5" cols="50" name="text" placeholder = "Type your query here..."></textarea>
    </br>
    <br>
    <input type="submit" value="Submit">
    <!-- <button id="sub_but" type="submit" >Submit</button> -->
    <!-- </br> -->
<!-- </form> --> 

<form action="action_page.php" method="post"></form> <!--action and method from WH3Schools https://www.w3schools.com/js/js_validation.asp accessed 24/11/2019-->
    <label for="name">First name:</label><br>
    <input id="name" type="text" name="firstname" required> <!-- Field must be filled in, cannot be blank -->
    </br>
    <label>Last name:</label><br> <!-- Field must be filled in, cannot be blank -->
    <input id="lname" type="text" name="lastname" required>
    </br>
    <label>Email:</label><br> <!-- Will check if email is valid by using type:"email"-->
    <input id="email" type="email" name="email" required><!-- Field must be filled in, can't be blank, may not need with type:"email" -->
    </br>
    <label>Query:</label><br>
    <textarea id="query" rows="5" cols="50" name="text" placeholder = "Type your query here..." required></textarea> <!-- Field must be filled in, cannot be blank -->
    </br>
    <br>
    <input type="submit" value="Submit">
</form>
<!-- To store the results of the form PHP needs to be used, haven't been taught yet -->
<!-- JavaScript can also be used https://www.encodedna.com/javascript/how-to-save-form-data-in-a-text-file-using-javascript.htm needs to be researched-->
<p> We aim to respond to querieres as soon as possible however during peak times responses may take longer to recieve. <br><br> Thank You </p>

{%endblock%}
