{% extends "chc_user_template.html" %}

<link rel = "stylesheet" type = "text/css"href = "{{ url_for('static', filename='style-main.css') }}" />
<link rel="stylesheet" href="static/style-main.css"
{%block title %}

<title> Client Survey On Health & Social Care </title>
  <div class = "body_container">
{%endblock %}

{%block content%}
<form method="post" name="mysurvey" onsubmit="return datatransfer()">

<table>
      <tr>
            <h3> The following is a survey which enables us to understand how your
                    interactions with the NHS have been going so far. </h3>

                    <h4 class=<strong>Please answer these questions effectively and honestly!</strong>
                      <br><br>
                      <label for="completion date"> Please enter the day you are filling in this survey:</label>
                      <br>
                      <input type="Date" name="completion date" required>
                      <h4 class = <strong> Did you undertake any activities relating to the following this week? </strong>
                        <br>


                            <th>Health </th>
                            <th>SocialCare </th>
                            <th> LocalAuthority </th>
                            <th> ThirdSector </th>
                            <th> OwnActivities </th>
      </tr>
      <tr>

      <td> <input type="checkbox" name="Health"> </td>
       <td> <input type="checkbox" name="SocialCare"> </td>
        <td> <input type="checkbox" name="LocalAuthority"> </td>
         <td> <input type="checkbox" name="ThirdSector"> </td>
          <td> <input type="checkbox" name="OwnActivities"> </td>
      </tr>


    </table>

    <h4 class=<strong> <b>Finally to end this survey off for today, below, simply summarise your mood for this week! </b> </strong>
   <br> <br>


        <div class="row">
          <div class="column">



        <label for="verygoodmood"><img src="static/assets/Very_Good_Smiley_Face.png" alt="verygoodmood"</label>
        <br> <br>
</div>
<div class="column"
       <label for="goodmood"><img src="static/assets/Good_Smiley_Face.jpeg" alt="goodmood" height="75%", width="45%"/>
       </label>
       </div>

       <br> <br>

<div class="column"
       <label for="okmood"><img src="static/assets/Orange_Smiley_Face.jpeg", alt="okmood"/>
       </label>
       <br><br>
</div>
<div class="column"
       <label for="okmood"> <img src="static/assets/Red_Angry_Face.jpeg", width="35%", height="75%" alt="badmood">
      </label>
      <br> <br>
</div>
</div>

</form>
      <input type="submit" name="survey">
      <br>


<a href ="static/assets/Cilent_Survey.pdf"> <b> Click here for a downloadable version of this survey. <b>

























{% endblock %}
