{% extends "chc_user_template.html" %}

<link rel = "stylesheet" type = "text/css"href = "{{ url_for('static', filename='style-main.css') }}" />
<link rel="stylesheet" href="static/style-main.css">
{%block title %}

<title> Client Survey On Health & Social Care </title>
  <div class = "body_container">
{%endblock %}

{%block content%}
<table>
      <tr>
            <h3> The following is a survey which enables us to understand how your
                    interactions with the NHS have been going so far. </h3>

                    <h4 class=<strong>Please answer these questions effectively and honestly!</strong>
                      <br>
                      <h4 class = <strong> Did you undertake any activities relating to the following this week? </strong>
                        <br>
                        <label for="completion date"> Please enter the day you are filling in this survey:</label>
                        <input type="Date" name="completion date">
                            
                            <th>Health </th>
                            <th>Social Care </th>
                            <th> Local Authority </th>
                            <th> 3rd Sector </th>
                            <th> Social </th>
                            <th> Own Activities </th>
      </tr>
      <tr>
     
     <td> <input type="checkbox"> </td>
      <td> <input type="checkbox"> </td>
       <td> <input type="checkbox"> </td>
        <td> <input type="checkbox"> </td>
         <td> <input type="checkbox"> </td>
          <td> <input type="checkbox"> </td>
      </tr>
      <tr>
      
      <td> <input type="checkbox"> </td>
      <td> <input type="checkbox"> </td>
       <td> <input type="checkbox"> </td>
        <td> <input type="checkbox"> </td>
         <td> <input type="checkbox"> </td>
          <td> <input type="checkbox"> </td>
      </tr>
      <tr>
      
      <td> <input type="checkbox"> </td>
      <td> <input type="checkbox"> </td>
       <td> <input type="checkbox"> </td>
        <td> <input type="checkbox"> </td>
         <td> <input type="checkbox"> </td>
          <td> <input type="checkbox"> </td>
      </tr>
      
      <td> <input type="checkbox"> </td>
      <td> <input type="checkbox"> </td>
       <td> <input type="checkbox"> </td>
        <td> <input type="checkbox"> </td>
         <td> <input type="checkbox"> </td>
          <td> <input type="checkbox"> </td>
      <tr>
      
      <td> <input type="checkbox"> </td>
      <td> <input type="checkbox"> </td>
       <td> <input type="checkbox"> </td>
        <td> <input type="checkbox"> </td>
         <td> <input type="checkbox"> </td>
          <td> <input type="checkbox"> </td>
      </tr>
 
    </table>
  
    <h4 class=<strong>Finally to end this survey off for today, below, simply summarise your mood for this week.</strong>
   <br> <br>
 <input type="checkbox" id="goodmood" />
    <label for="goodmood"><img src="static/assets/Good_Smiley_Face.jpeg", width="65%", height="15%", alt="goodmood"/> </label>
   
    <br>
    <input type="checkbox" id="okmood" />
    <label for="okmood"><img src="static/assets/Orange_Smiley_Face.jpeg", alt="okmood"/>
    </label>
    <br>
    <input type="checkbox" id="badmood" />
    <label for="okmood"> <img src="static/assets/Red_Angry_Face.jpeg", width="35%", height="15%" alt="badmood">
    </label>
    <br>

    <input type="submit" value="Submit">


























{% endblock %}
