{% extends "01_homepage.html" %}

<link rel = "stylesheet" type = "text/css"href = "{{ url_for('static', filename='style-main.css') }}" />

{%block title %}

<title> Client Survey On Health & Social Care </title>
  <div class = "body_container">
{%endblock %}

{%block content%}


            <h3> The following is a survey which enables us to understand how your
              interactions with the NHS have been going so far in regards to your Health & Social Care. </h3>
              <br>

              <h4 class=<strong>Please answer these questions effectively and honestly!</strong>
                <form onsubmit=action="mailto:"you@yourwebsite.com" name="myForm">
                  <br>


                    <label for="Date of completion"> Please enter the day you are filling in this survey:</label>
                    <input type="Date" name="date">
                    <br> <br>
                    <label for="Typeofcancer">Type of cancer:</label>
                    <input id="Typeofcancer" type="text" Typeofcancer="Typeofcancer">
                    <br> <br>

                    <label for ="Duration of illness"> How long have you lived with cancer? </label>
                    <input id="Duration of illness" type ="text">

                    <br><br>

                    <label for="Duration spent receiving treatment"> How long have you been receiving treatment at your local hospital </label>
                    <input type="Date" name="date">
                    <br> <br>

                    <label for="Impact NHS has had on your recovery"> What kind of impact has the NHS had on your recovery period?
                      <br>
                      <input type="checkbox" name="" value="Significant Impact"> Significant Impact
                      <br>
                      <input type="checkbox" name="" value="Some impact"> Some impact
                      <br>
                      <input type="checkbox" name="" value="No impact"> No impact
                      <br>
                      <input type="checkbox" name="" value ="Prefer not to say"> Prefer not to say
                      <br> <br>


                      <label for ="Affects on social life"> Has your cancer treatment affected your social life in any way?
                        <input id="Affects on social life", type= "Text">
                        <br>

                        <button id="sub_but" type="submit"">Submit</button>


















{% endblock %}
