<head>
  <meta charset="utf-8">
  <title>Kernow Kourses</title>
  <title>Cancer Patient Pathways</title>
  <title> Client Survey On Health & Social Care </title>
  <link rel = "stylesheet" type = "text/css"href = "script/style-main.css"></link>
</head>

<body>
  <div class = "body_container">

    <div class = "main_header_container">
      <header>
        <div class = title_contents_container>
          <h1 class = "main_header">The Cancer Pathway Project</h1>

          <figure class = chc_logo>
            <img  src = "assets/health_counc_img2.png" alt = "Community Health council img">

            <h3 class="<strong>"The following is a survey which enables us to understand how your
              interactions with the NHS have been going so far in regards to your health & Social Care"</strong>
              </h3>
              <h4 class=<strong>"Please answer these questions effectively and honestly!"</strong>


              <ul>
                <li> Has the NHS aided you in regards to your cancer treatment? </li>
                <!-- Include javascript so that users have the ability to answer  questions via drop down boxes & comments -->
                <li>.......... </li>
                <li>........ </li>
                <li> ...... </li>
        </div>
        <div class = "title_navigation_container">
          <nav class = "main_nav">

          <ul>

              <li class = ><a href= "HomePage.html">Home</a> </li>
              <li class = ><a href = "ClientSurveyOnHealth&socialCare.html">Survey on Health & Social Care</a></li>
              <li class = > <a href = "SurveyOnSocial&OwnActivities.html"> Survey on social & Own activites </a> </li>
              <li class = ""><a href = "">Profile</a> </li>
              <li class = ""><a href = "">Contact us</a></li>
              <li class = ""><a href = "">Login</a></li>
            </ul>
          </nav>
        </div>
      </header>
    </div>







    <main>
    </main>

</body>
<script></script>
