<!-- These references extend the skeleton of the homepage-->
{% extends "chc_template.html" %}
<!-- Style sheet reference -->
<link rel="stylesheet" type="text/css" href="../static/style-main.css" />
<!--Script Reference-->
<script type="text/javascript" src="../script/myscript.js"></script>

{%block title %}

<title> Cancer Patient Pathways - Contact </title>
<!-- <div class="sub_text"> <h2>Generic Questions Only</h2> </div> -->
{%endblock %}


{%block content%}

<button type="button" class="collapsible-faq">FAQ1</button>
<div class="content-faq">
    <!-- <p>Lorem ipsum...</p> -->
</div>

