<!-- These references extend the skeleton of the homepage-->
{% extends "chc_template.html" %}
<!-- Style sheet reference -->
<link rel="stylesheet" type="text/css" href="../static/style-main.css" />
<!--Script Reference-->
<script type="text/javascript" src="../script/myscript.js"></script>

{%block title %}

<title> Cancer Patient Pathways - Contact </title>
<!-- <div class="sub_text"> <h2>Generic Questions Only</h2> </div> -->

{%endblock %}


{% block content  %}

<button type="button" class="collapsible-faq">What is Cancer Patient Pathways?</button>
<div class="content-faq">
    <p>Test content</p>
</div>

<button type="button" class="collapsible-faq">How do I access my account?</button>
<div class="content-faq">
    <p>Test content</p>
</div>

<button type="button" class="collapsible-faq">How do I login?</button>
<div class="content-faq">
    <p>Test content</p>
</div>

<button type="button" class="collapsible-faq">How can I contact Cancer Patient Pathways?</button>
<div class="content-faq">
    <p>Test content</p>
</div>

<button type="button" class="collapsible-faq">I've forgotten my login details</button>
<div class="content-faq">
    <p>Test content</p>
</div>

<button type="button" class="collapsible-faq">I have a different question</button>
<div class="content-faq">
    <p>Test content</p>
</div>

{% endblock %}

